<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCG23ReO1phlKczlTi8lZXuqzx_mFU-6BA</string>
	<key>GCM_SENDER_ID</key>
	<string>809208530029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ulagos.parking.uparking</string>
	<key>PROJECT_ID</key>
	<string>tallerii-4104d</string>
	<key>STORAGE_BUCKET</key>
	<string>tallerii-4104d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809208530029:ios:5146c9b029bbffd6cbab64</string>
</dict>
</plist>